acid- ?jazz => acid jazz
action- ?réaction => action réaction
agent- ?voyer => agent voyer
alerte- ?enlèvement => alerte enlèvement
ami- ?à- ?ami => ami à ami
ancien- ?régime => ancien régime
animal- ?crossing => animal crossing
animateur- ?clé => animateur clé
archiviste- ?paléographe => archiviste paléographe
art- ?déco => art déco
atoms- ?in- ?molecules => atoms in molecules
avion- ?fusée => avion fusée
avion- ?ravitailleur => avion ravitailleur
bande- ?dessinée => bande dessinée
ban- ?de- ?la- ?roche => ban de la roche
bande- ?son => bande son
bandit- ?manchot => bandit manchot
barre- ?à- ?mine => barre à mine
bassin- ?versant => bassin versant
bateau- ?tortue => bateau tortue
beep- ?beep => beep beep
bel- ?air => bel air
bel- ?aire => bel aire
belle- ?épine => belle épine
best- ?of => best of
bibi- ?lolo => bibi lolo
big- ?bang => big bang
big- ?L => big L
blues- ?rock => blues rock
bois- ?bandé => bois bandé
bois- ?blancs => bois blancs
bois- ?de- ?la- ?bâtie => bois de la bâtie
bois- ?mort => bois mort
bordeaux- ?clairet => bordeaux clairet
bord- ?franc => bord franc
bouc- ?émissaire => bouc émissaire
boule- ?de- ?suif => boule de suif
bras- ?mort => bras mort
bren- ?carrier => bren carrier
buddy- ?movie => buddy movie
bus- ?inter => bus inter
buys- ?ballot => buys ballot
cabernet- ?franc => cabernet franc
cadet- ?rousselle => cadet rousselle
caisse- ?claire => caisse claire
cara- ?ancha => cara ancha
caroline- ?du- ?nord => caroline du nord
caroline- ?du- ?sud => caroline du sud
casa- ?sport => casa sport
catalogne- ?nord => catalogne nord
cellule- ?souche => cellule souche
centre- ?deux => centre deux
chapeau- ?claque => chapeau claque
cinq- ?avenues => cinq avenues
cité- ?soleil => cité soleil
clos- ?de- ?tart => clos de tart
clos- ?poulet => clos poulet
club- ?internet => club internet
cochon- ?tirelire => cochon tirelire
coffee- ?shop => coffee shop
colonel- ?général => colonel général
comic- ?strip => comic strip
coming- ?out => coming out
commissaire- ?enquêteur => commissaire enquêteur
communisme- ?ouvrier => communisme ouvrier
conseil- ?exécutif => conseil exécutif
contre- ?réaction => contre réaction
coproduction- ?conditionnée => coproduction conditionnée
corée- ?du- ?nord => corée du nord
corée- ?du- ?sud => corée du sud
corps- ?francs => corps francs
costa- ?verde => costa verde
country- ?rock => country rock
courte- ?paille => courte paille
cul- ?de- ?four => cul de four
cyber- ?commerce => cyber commerce
cybercommerce => cyber commerce
cyber- ?commerces => cyber commerces
cybercommerces => cyber commerces
cyberjournalisme => cyber journalisme
cyber- ?journalisme => cyber journalisme
cybercafé => cyber café
cybercafés => cyber cafés
cyber- ?café => cyber café
cyber- ?cafés => cyber cafés
cyberespace => cyber espace
cyber- ?espace => cyber espace
cyberespaces => cyber espaces
cyber- ?espaces => cyber espaces
cybercriminalité => cyber criminalité
cyber- ?criminalité => cyber criminalité
cybercriminalités => cyber criminalités
cyber- ?criminalités => cyber criminalités
cybercrise => cyber crise
cybermarché => cyber marché
cyberthé => cyber thé
cyberthés => cyber thés
daemon- ?tools => daemon tools
dame- ?pipi => dame pipi
démocratie- ?chrétienne => démocratie chrétienne
dents- ?de- ?sabre => dents de sabre
dessin- ?animé => dessin animé
die- ?shrink => die shrink
dino- ?riders => dino riders
disque- ?dur => disque dur
double- ?jeu => double jeu
double- ?six => double six
drum- ?and- ?bass => drum and bass
écart- ?type => écart type
écrivain- ?voyageur => écrivain voyageur
el- ?al => el al
electro- ?house => electro house
electro- ?rock => electro rock
el- ?hazard => el hazard
en- ?deçà => en deçà
en- ?tact => en tact
épargne- ?retraite => épargne retraite
éther- ?couronne => éther couronne
extra- ?point => extra point
extrême- ?droite => extrême droite
fair- ?use => fair use
fausse- ?couche => fausse couche
faux- ?anglicisme => faux anglicisme
f- ?communications => f communications
flacon- ?laveur => flacon laveur
florent- ?massot => florent massot
fm- ?towns => fm towns
folies- ?bergère => folies bergère
folk- ?rock => folk rock
forêt- ?galerie => forêt galerie
fort- ?orange => fort orange
français- ?québécois => français québécois
free- ?party => free party
future- ?drama => future drama
galette- ?saucisse => galette saucisse
galles- ?du- ?sud => galles du sud
gamay- ?teinturier => gamay teinturier
game- ?boy => game boy
gang- ?bang => gang bang
garage- ?punk => garage punk
garde- ?à- ?vue => garde à vue
geek- ?rock => geek rock
gentleman- ?cambrioleur => gentleman cambrioleur
glacier- ?express => glacier express
gouverneur- ?général => gouverneur général
gram- ?négatif => gram négatif
gram- ?positif => gram positif
grand- ?colombier => grand colombier
grande- ?chartreuse => grande chartreuse
grand- ?est => grand est
grande- ?terre => grande terre
grand- ?livre => grand livre
grand- ?ouest => grand ouest
grand- ?paradis => grand paradis
grand- ?prix => grand prix
grand- ?rond => grand rond
great- ?eastern => great eastern
hard- ?rock => hard rock
haut- ?atlas => haut atlas
hautes- ?fagnes => hautes fagnes
haute- ?tige => haute tige
haut- ?fonctionnaire => haut fonctionnaire
haut- ?fourneau => haut fourneau
heavy- ?metal => heavy metal
heroic- ?fantasy => heroic fantasy
hockey- ?sur- ?glace => hockey sur glace
home- ?cinema => home cinema
home- ?studio => home studio
hors- ?piste => hors piste
hot- ?bird => hot bird
h[ôo]tel- ?capsule => hôtel capsule
[îi]le- ?aux- ?coudres => [îi]le aux Coudres
[îi]le- ?de- ?sein => [îi]le de Sein
[îi]le- ?perrot => [îi]le Perrot
[îi]les- ?cook => [îi]les Cook
[îi]les- ?de- ?la- ?madeleine => [îi]les de la Madeleine
[îi]les- ?gulf => [îi]les Gulf
[îi]les- ?ioniennes => [îi]les ioniennes
[îi]les- ?marshall => [îi]les Marshall
[îi]let- ?à- ?guillaume => [îi]let à Guillaume
inter- ?parfums => inter parfums
jet- ?set => jet set
jeu- ?vidéo => jeu vidéo
jeux- ?vidéos? => jeux vidéo
king- ?kong => king kong
kit- ?kat => kit kat
know- ?nothing => know nothing
kot- ?à- ?projet => kot à projet
lancer- ?franc => lancer franc
land- ?art => land art
latin- ?house => latin house
laurier- ?sauce => laurier sauce
leader- ?price => leader price
led- ?zeppelin => led zeppelin
level- ?design => level design
liberty- ?ship => liberty ship
libre- ?arbitre => libre arbitre
libre- ?examen => libre examen
lieutenant- ?général => lieutenant général
long- ?métrage => long métrage
long- ?parlement => long parlement
longs- ?murs => longs murs
louise- ?fusil => louise fusil
mag- ?avril => mag avril
mains- ?libres => mains libres
maison- ?blanche => maison blanche
maître- ?principal => maître principal
making- ?of => making of
maréchal- ?de- ?camp => maréchal de camp
marie- ?claire => marie claire
marie- ?pervenche => marie pervenche
médiéval- ?fantastique => médiéval fantastique
médiévaux- ?fantastiques => médiévaux fantastiques
médiévale- ?fantastique => médiévale fantastique
médiévales- ?fantastiques => médiévales fantastiques
mg- ?rover => mg rover
mickey- ?parade => mickey parade
mix- ?énergétique => mix énergétique 
moby- ?dick => moby dick
mont- ?boron => mont boron
mont- ?des- ?cats => mont des cats
mont- ?des- ?oliviers => mont des oliviers
mont- ?gerbier- ?de- ?jonc => mont gerbier de jonc
monts- ?jura => monts jura
mont- ?terri => mont terri
monture- ?c => monture c
mont- ?valérien => mont valérien
moyen- ?atlas => moyen atlas
moyen-[âa]ge => moyen âge
moyen- ?métrage => moyen métrage
nationalisme- ?révolutionnaire => nationalisme révolutionnaire
navire- ?amiral => navire amiral
navire- ?musée => navire musée
néo- ?rock => néo rock
nosy- ?be => nosy be
notre- ?père => notre père
nu- ?jazz => nu jazz
nu- ?metal => nu metal
objective- ?c => objective c
officier- ?marinier => officier marinier
opéra- ?rock => opéra rock
pair- ?à- ?pair => pair à pair
palais- ?bourbon => palais bourbon
parc- ?des- ?princes => parc des princes
parc- ?relais => parc relais
paris- ?jour => paris jour
paris- ?première => paris première
paris- ?turf => paris turf
paul- ?carton => paul carton
pays- ?de- ?galles => pays de galles
pay- ?to- ?play => pay to play
pen- ?pen => pen pen
personnage- ?joueur => personnage joueur
petit- ?courbu => petit courbu
petite- ?bourgeoisie => petite bourgeoisie
phalanger- ?renard => phalanger renard
pied- ?de- ?coq => pied de coq
pipe- ?band => pipe band
piper- ?alpha => piper alpha
place- ?des- ?arts => place des arts
plateau- ?caillou => plateau caillou
poids- ?lourd => poids lourd
poids- ?mouche => poids mouche
pointe- ?de- ?grave => pointe de grave
point- ?kilométrique => point kilométrique
poisson- ?clown => poisson clown
poisson- ?feuille => poisson feuille
pont- ?aux- ?ânes => pont aux ânes
pony- ?games => pony games
pop- ?art => pop art
pop- ?punk => pop punk
porno- ?chic => porno chic
portes- ?du- ?soleil => portes du soleil
port- ?mathurin => port mathurin
poupée- ?mannequin => poupée mannequin
premier- ?maître => premier maître
prêt- ?relais => prêt relais
prêtre- ?ouvrier => prêtre ouvrier
puka- ?puka => puka puka
punk- ?rock => punk rock
quart- ?de- ?ton => quart de ton
quatre- ?bornes => quatre bornes
radio- ?énergie => radio énergie
radio- ?solidarité => radio solidarité
radio- ?vatican => radio vatican
ranger- ?x => ranger X
raton- ?laveur => raton laveur
rayon- ?x => rayon X
real- ?TV => real TV
reef- ?break => reef break
requin- ?renard => requin renard
risque- ?pays => risque pays
rivers- ?cadet => rivers cadet
rivière- ?noire => rivière noire
roche- ?mère => roche mère
roger- ?roger => roger roger
sabre- ?laser => sabre laser
sac- ?banane => sac banane
saint- ?calice => saint calice
saint- ?chrême => saint chrême
sainte- ?dévote => sainte dévote
sainte- ?famille => sainte famille
sainte- ?lance => sainte lance
saint- ?guidon => saint guidon
saint- ?synode => saint synode
sans- ?atout => sans atout
satellite- ?espion => satellite espion
sciences- ?po => sciences po
second- ?maître => second maître
secret- ?story => secret story
sergent- ?chef => sergent chef
ses- ?global => ses global
shore- ?break => shore break
sierra- ?leone => sierra leone
ski- ?de- ?fond => ski de fond
société- ?écran => société écran
soirée- ?pyjama => soirée pyjama
south- ?west => south west
space- ?opera => space opera
steak- ?frites => steak frites
street- ?fighter => street fighter
sud- ?étudiant => sud étudiant
sud- ?rail => sud rail
suisse- ?allemand => suisse allemand
super- ?besse => super besse
super- ?frelon => super frelon
surf- ?casting => surf casting
syndicalisme- ?révolutionnaire => syndicalisme révolutionnaire
talmud- ?torah => talmud torah
tamarin- ?lion => tamarin lion
télé- ?loisirs => télé loisirs
télé- ?match => télé match
télé- ?réalité => télé réalité
tel- ?haï => tel haï
temps- ?partagé => temps partagé
temps- ?réel => temps réel
terra- ?nova => terra nova
terre- ?sainte => terre sainte
test- ?match => test match
tétras- ?lyre => tétras lyre
tongue- ?split => tongue split
tortue- ?luth => tortue luth
tour- ?horloge => tour horloge
trip- ?hop => trip hop
triple- ?play => triple play
trois- ?roches => trois roches
tube- ?chair => tube chair
turbo- ?folk => turbo folk
united- ?states => united states
U- ?turn => U turn
val- ?sans- ?retour => val sans retour
vert- ?galant => vert galant
vidéo- ?gag => vidéo gag
vieux- ?breton => vieux breton
vieux- ?gallois => vieux gallois
vieux- ?prussien => vieux prussien
vigne- ?vierge => vigne vierge
ville- ?la- ?grand => ville la grand
voiture- ?balai => voiture balai
voix- ?off => voix off
vue- ?des- ?alpes => vue des alpes
warp- ?zone => warp zone
