thyro-arytenoid muscle => thyroarytenoid muscle
consciousness-raising => consciousness raising
non-building structure => nonbuilding structure
free-software movement => free software movement
forum-selection clause => forum selection clause
liquid-crystal display => liquid crystal display
fast-casual restaurant => fast casual restaurant
market micro-structure => market microstructure
sport-utility vehicle => sport utility vehicle
sub-object classifier => subobject classifier
free-radical reaction => free radical reaction
co-ordination failure => coordination failure
geo-social networking => geosocial networking
pigeon-hole principle => pigeonhole principle
counter-surveillance => countersurveillance
unequal crossing-over => unequal crossing over
false-memory syndrome => false memory syndrome
dollar-cost averaging => dollar cost averaging
probability-matching => probability matching
arithmetic-logic unit => arithmetic logic unit
immediate-early gene => immediate early gene
electro-oculography => electrooculography
exponential back-off => exponential backoff
retro-inguinal space => retroinguinal space
double-loop learning => double loop learning
class-consciousness => class consciousness
co-operative inquiry => cooperative inquiry
lactose-intolerance => lactose intolerance
multi-national state => multinational state
frame-shift mutation => frameshift mutation
disparate-treatment => disparate treatment
non-associative ring => nonassociative ring
skull and cross-bones => skull and crossbones
anarchist-communism => anarchist communism
christian-anarchism => christian anarchism
fast-food restaurant => fast food restaurant
electro-motive force => electromotive force
non-linear resonance => nonlinear resonance
free-style wrestling => freestyle wrestling
non-standard dialect => nonstandard dialect
melasma supra-renale => melasma suprarenale
full-cost accounting => full cost accounting
family-centered care => family centered care
air-source heat pumps => air source heat pumps
liquid-state machine => liquid state machine
lacto-vegetarianism => lacto vegetarianism
semi-modular lattice => semimodular lattice
non-transitive dice => nontransitive dice
absolute-liability => absolute liability
speech-recognition => speech recognition
push-down automaton => pushdown automaton
right-whale dolphin => right whale dolphin
thought-experiment => thought experiment
tri-diagonal matrix => tridiagonal matrix
scripting-language => scripting language
bi-diagonalization => bidiagonalization
melodic death-metal => melodic death metal
ideo-motor response => ideo motor response
active-pixel sensor => active pixel sensor
night-vision device => night vision device
hydro-pneumothorax => hydropneumothorax
sea-floor spreading => seafloor spreading
computer-recycling => computer recycling
water-gel explosive => water gel explosive
white-nose syndrome => white nose syndrome
phosphoryl-choline => phosphorylcholine
slaughter-tapping => slaughter tapping
terrace-ledge-kink => terrace ledge kink
poly-glutamic acid => polyglutamic acid
closed-captioning => closed captioning
divide-and-conquer => divide and conquer
para-professional => paraprofessional
three-tooth puffer => threetooth puffer
carry-select adder => carry select adder
assamese-language => assamese language
badge-engineering => badge engineering
transfer-function => transfer function
earned-run average => earned run average
blow-out preventer => blowout preventer
pseudo-randomness => pseudorandomness
context-awareness => context awareness
tamper-resistance => tamper resistance
reciprocal-length => reciprocal length
indocyanine-green => indocyanine green
di-ethylene glycol => diethylene glycol
upper-middle class => upper middle class
donor-advised fund => donor advised fund
font-substitution => font substitution
arm-triangle choke => arm triangle choke
coca-colonization => cocacolonization
electro-magnetism => electromagnetism
pseudo-philosophy => pseudophilosophy
cutting-room floor => cutting room floor
triple-bottom-line => triple bottom line
head-of-government => head of government
micro-expression => microexpression
neutral-zone trap => neutral zone trap
supply-and-demand => supply and demand
sword-and-sorcery => sword and sorcery
progressive-scan => progressive scan
health-insurance => health insurance
time-consistency => time consistency
heavy machine-gun => heavy machine gun
inverted-pyramid => inverted pyramid
see-saw mechanism => seesaw mechanism
marginal-utility => marginal utility
beta-hydroxy acid => beta hydroxy acid
scale-invariance => scale invariance
vaginal wet-mount => vaginal wet mount
wing-tip vortices => wingtip vortices
state-capitalism => state capitalism
semi-documentary => semidocumentary
desk-top computer => desktop computer
non-abelian group => nonabelian group
blind carbon-copy => blind carbon copy
de-facto currency => de facto currency
anti-caking agent => anticaking agent
golden-ratio base => golden ratio base
quasi-normal mode => quasinormal mode
anti-static agent => antistatic agent
disko-seismology => diskoseismology
black-drop effect => black drop effect
minister-general => minister general
hydrogen-storage => hydrogen storage
water-resistance => water resistance
mega-corporation => megacorporation
in-flight smoking => inflight smoking
micro-generation => microgeneration
grenade-launcher => grenade launcher
bio-luminescence => bioluminescence
computer-science => computer science
anti-materialism => antimaterialism
sub-radular organ => subradular organ
drag co-efficient => drag coefficient
pair-programming => pair programming
foreign-language => foreign language
anti-convulsant => anticonvulsant
ground-fighting => ground fighting
dual-enrollment => dual enrollment
cathode-ray tube => cathode ray tube
horse-close wood => horse close wood
infrared-homing => infrared homing
double-standard => double standard
micro-evolution => microevolution
root-mean-square => root mean square
cloak-and-dagger => cloak and dagger
blanket-sleeper => blanket sleeper
decision-making => decision making
priest-in-charge => priest in charge
hypo-allergenic => hypoallergenic
off-line editing => offline editing
saber-tooth fish => sabertooth fish
air-conditioner => air conditioner
carbo-nitriding => carbonitriding
euro-scepticism => euroscepticism
run-time library => runtime library
pseudo-rapidity => pseudorapidity
problem-solving => problem solving
lighter-than-air => lighter than air
canopy-research => canopy research
legend-tripping => legend tripping
fly-over country => flyover country
pre-image attack => preimage attack
infra-red homing => infrared homing
science-fiction => science fiction
bio-informatics => bioinformatics
carrot-and-stick => carrot and stick
anti-knock agent => antiknock agent
asset-stripping => asset stripping
radio-frequency => radio frequency
anti-metabolite => antimetabolite
super-ellipsoid => superellipsoid
continuous-wave => continuous wave
turbo-machinery => turbomachinery
added-tone chord => added tone chord
rear-naked choke => rear naked choke
multiple-choice => multiple choice
limited hang-out => limited hangout
non-conformism => nonconformism
semi-automaton => semiautomaton
truth-function => truth function
side-collision => side collision
pressure-point => pressure point
machine-pistol => machine pistol
neo-liberalism => neoliberalism
snake-mackerel => snake mackerel
single-density => single density
tilt-table test => tilt table test
green-building => green building
curtain-raiser => curtain raiser
super-deformed => super deformed
man-of-the-match => man of the match
electro-magnet => electromagnet
pseudo-science => pseudoscience
on-line banking => online banking
change-ringing => change ringing
pre-emptive war => preemptive war
nature-worship => nature worship
twelve-fold way => twelvefold way
letters-patent => letters patent
harm-reduction => harm reduction
packet-writing => packet writing
sit-down strike => sitdown strike
user-interface => user interface
straight-razor => straight razor
easy-listening => easy listening
remote-sensing => remote sensing
weight-cutting => weight cutting
petro-chemical => petrochemical
left-anarchism => left anarchism
roller-coaster => roller coaster
light-industry => light industry
quasi-particle => quasiparticle
cold-water flat => cold water flat
rack-and-pinion => rack and pinion
sub-machine gun => submachine gun
smoking-jacket => smoking jacket
paint-stripper => paint stripper
on-line editing => online editing
carrion-flower => carrion flower
word-processor => word processor
pre-proinsulin => preproinsulin
macro-parasite => macroparasite
anti-psychotic => antipsychotic
fuel-injection => fuel injection
eco-technology => ecotechnology
motion-capture => motion capture
patent-pending => patent pending
grappling-hold => grappling hold
context-mixing => context mixing
being-in-itself => being in itself
bio-technology => biotechnology
cosmo-theology => cosmotheology
many-histories => many histories
ship-of-the-line => ship of the line
cross-compiler => cross compiler
timber-rafting => timber rafting
out-board motor => outboard motor
free-trade zone => free trade zone
battle-cruiser => battlecruiser
paid-in capital => paid in capital
counter-trade => counter trade
auto-injector => autoinjector
umbrella-term => umbrella term
breast-cancer => breast cancer
tank-plinking => tank plinking
set-up pitcher => setup pitcher
ghost-hunting => ghost hunting
switch-hitter => switch hitter
meat-and-three => meat and three
fried-chicken => fried chicken
up-or-down vote => up or down vote
hill-climbing => hill climbing
double-hyphen => double hyphen
economy-class => economy class
high-fidelity => high fidelity
private-label => private label
proto-science => protoscience
nickel-silver => nickel silver
exchange-rate => exchange rate
chamber-music => chamber music
sight-reading => sight reading
agri-business => agribusiness
close-harmony => close harmony
onna bugei-sha => onna bugeisha
depth-of-field => depth of field
pitch-and-putt => pitch and putt
electron-hole => electron hole
lingua-franca => lingua franca
soda-fountain => soda fountain
serial-killer => serial killer
queen-consort => queen consort
half-marathon => half marathon
contact-sport => contact sport
assault-rifle => assault rifle
human-hunting => human hunting
cross-entropy => cross entropy
zone-blocking => zone blocking
run-off voting => runoff voting
black-pudding => black pudding
bee-hive house => beehive house
measuring-rod => measuring rod
immune-system => immune system
nuclear-power => nuclear power
currency-swap => currency swap
animal-rights => animal rights
bath-tub curve => bathtub curve
pork-chop plot => porkchop plot
time-dilation => time dilation
card-counting => card counting
above-the-fold => above the fold
speed-reading => speed reading
ethno-ecology => ethnoecology
breathy-voice => breathy voice
chapel-of-ease => chapel of ease
crowd-surfing => crowd surfing
second-source => second source
free-hand lace => freehand lace
semi-diameter => semidiameter
wall-magazine => wall magazine
crown-steeple => crown steeple
pick-and-roll => pick and roll
draft-dodger => draft dodger
free-forever => free forever
running-mate => running mate
phase-switch => phase switch
bit-stuffing => bit stuffing
street-light => street light
triple-point => triple point
grass-cutter => grasscutter
depth-charge => depth charge
grave-digger => gravedigger
class-action => class action
body-hopping => body hopping
laminar-flow => laminar flow
twisted-pair => twisted pair
metro-sexual => metrosexual
stopped-flow => stopped flow
butt-welding => butt welding
eddy-current => eddy current
diamino-acid => diamino acid
right-to-life => right to life
retro-gaming => retrogaming
non-locality => nonlocality
sub-notebook => subnotebook
stick-figure => stick figure
money-market => money market
shell-flower => shellflower
match-fixing => match fixing
gauge-fixing => gauge fixing
longue-paume => longue paume
open-circuit => open circuit
phased-array => phased array
money-lender => moneylender
head-shaving => head shaving
mega-project => megaproject
male-bonding => male bonding
normal-order => normal order
bare-chested => barechested
ear-training => ear training
barn-raising => barn raising
managed-care => managed care
fire-bombing => firebombing
boiler-maker => boilermaker
boxer-briefs => boxer briefs
fire-worship => fire worship
scatter-plot => scatter plot
baby-sitting => babysitting
linear-phase => linear phase
pocket-knife => pocket knife
table-tennis => table tennis
street-legal => street legal
squat-thrust => squat thrust
binary-image => binary image
wrought-iron => wrought iron
co-recursion => corecursion
stick-shaker => stick shaker
parrot-finch => parrotfinch
hip-hop music => hip hop music
sea-skimming => sea skimming
future-proof => future proof
meta-fiction => metafiction
time-of-pitch => time of pitch
match-moving => match moving
high-voltage => high voltage
side-control => side control
common-drain => common drain
book-keeping => bookkeeping
sense-making => sensemaking
tsukumo-gami => tsukumogami
public-house => public house
half-viaduct => half viaduct
fixed-income => fixed income
saddle-point => saddle point
book-binding => bookbinding
iron-gall ink => iron gall ink
double-track => double track
dwarf-planet => dwarf planet
source-code => source code
common-gate => common gate
gas-turbine => gas turbine
sword-dance => sword dance
water-clock => water clock
motor-cycle => motorcycle
egg-rolling => egg rolling
iso-pentane => isopentane
hard-boiled => hardboiled
on-side kick => onside kick
sheath-bill => sheathbill
horse-power => horsepower
shoe-gazing => shoegazing
e-lawyering => elawyering
upper-class => upper class
rocket-sled => rocket sled
church-yard => churchyard
sea-anemone => sea anemone
penny-press => penny press
foam-rubber => foam rubber
song-writer => songwriter
draw-bridge => drawbridge
groin-vault => groin vault
sky-scraper => skyscraper
pork-barrel => pork barrel
ward-heeler => ward heeler
mixed-radix => mixed radix
weigh-house => weigh house
time-series => time series
smooth-bore => smoothbore
calf-roping => calf roping
bio-defense => biodefense
counter-ion => counterion
belly-dance => belly dance
cap-product => cap product
boost-phase => boost phase
rule-making => rulemaking
bee-keeping => beekeeping
seat-filler => seat filler
pass-phrase => passphrase
hand-coding => hand coding
multi-media => multimedia
null-result => null result
draw-string => drawstring
sub-mediant => submediant
noise-floor => noise floor
open-access => open access
sis-boom-bah => sis boom bah
trace-class => trace class
work-around => workaround
chop-church => chopchurch
data-center => data center
baby-walker => baby walker
coiled-coil => coiled coil
out-swinger => outswinger
co-function => cofunction
terra-cotta => terracotta
vacuum-tube => vacuum tube
ass-to-mouth => ass to mouth
cheek-piece => cheekpiece
fake-orgasm => fake orgasm
rongo-rongo => rongorongo
data-mining => data mining
ray-casting => ray casting
step-family => stepfamily
rabbit-fish => rabbitfish
best-seller => bestseller
comic-strip => comic strip
rubber-band => rubber band
arch-deacon => archdeacon
active-duty => active duty
blank-verse => blank verse
anti-freeze => antifreeze
log-rolling => logrolling
wheel-chair => wheelchair
cannon-ball => cannonball
plough-gate => ploughgate
binary-file => binary file
blue-sky law => blue sky law
fox-tossing => fox tossing
wrap-around => wraparound
fur-farming => fur farming
short-story => short story
hand-waving => handwaving
mixed-media => mixed media
scale-model => scale model
soup-to-nuts => soup to nuts
second-line => second line
-ate complex => ate complex
nanny-state => nanny state
foo-fighter => foo fighter
walk-around => walkaround
cri-du-chat => cri du chat
short-stop => shortstop
shelf-life => shelf life
tse-tse fly => tsetse fly
theta-role => theta role
onion-dome => onion dome
bee-keeper => beekeeper
cosmic-ray => cosmic ray
sub-fossil => subfossil
black-body => black body
slip-coach => slip coach
co-algebra => coalgebra
heaving-to => heaving to
show-trial => show trial
snake-bite => snakebite
night-soil => night soil
life-world => lifeworld
keep-alive => keepalive
tri-iodide => triiodide
line-level => line level
sang-froid => sangfroid
song-lines => songlines
multi-fuel => multifuel
double-act => double act
time-trial => time trial
ice-hockey => ice hockey
mini-comic => minicomic
co-polymer => copolymer
finger-gun => finger gun
de-beaking => debeaking
bag-holder => bagholder
look-ahead => lookahead
long-drink => long drink
cut-off saw => cut off saw
god-father => godfather
zero-point => zero point
back-mount => back mount
spud-u-like => spudulike
heart-rate => heart rate
beta-decay => beta decay
middle-ear => middle ear
end-plates => endplates
half-guard => half guard
bi-coastal => bicoastal
feu-de-joie => feu de joie
snail-mail => snail mail
neo-cortex => neocortex
crust-punk => crust punk
collar-tie => collar tie
else-where => elsewhere
sound-hole => sound hole
bio-diesel => biodiesel
fee-simple => fee simple
fire-storm => firestorm
cock-tease => cock tease
zero-width => zero width
null-modem => null modem
chroma-key => chroma key
root-locus => root locus
tai-sabaki => tai sabaki
double-tap => double tap
frost-free => frost free
bit-stream => bitstream
arch-angel => archangel
next-of-kin => next of kin
club-house => clubhouse
combi-tube => combitube
net-cutter => net cutter
proto-star => protostar
super-gene => supergene
web-series => web series
count-down => countdown
super-user => superuser
side-story => side story
in-swinger => inswinger
think-tank => think tank
par-baking => parbaking
can-opener => can opener
door-chain => door chain
beaux-arts => beaux arts
cover-date => cover date
cyber-punk => cyberpunk
sub-domain => subdomain
bi-algebra => bialgebra
flow-chart => flowchart
dodge-ball => dodgeball
night-life => nightlife
top-roping => top roping
short-turn => short turn
hatch-back => hatchback
cell-cycle => cell cycle
rally-raid => rally raid
camper-van => campervan
multi-path => multipath
trade-mark => trademark
hit-and-run => hit and run
sugar-cane => sugarcane
lac-operon => lac operon
aka-shita => akashita
fuel-cell => fuel cell
polo-neck => polo neck
time-zone => time zone
fire-team => fireteam
glam-rock => glam rock
gull-wing => gull wing
on-the-fly => on the fly
gamma-ray => gamma ray
vote-bank => votebank
set-piece => set piece
line-card => line card
jing-ping => jing ping
ice-sheet => ice sheet
check-off => checkoff
knock-out => knockout
trap-door => trapdoor
tea-chest => tea chest
wire-wrap => wire wrap
rush-hour => rush hour
web-comic => webcomic
co-packer => copacker
power-law => power law
drop-kick => drop kick
full-dome => fulldome
poll-evil => poll evil
ren-min-bi => renminbi
folk-lore => folklore
net-worth => net worth
homeo-box => homeobox
money-bag => money bag
free-base => freebase
coon-song => coon song
in-limine => in limine
show-case => showcase
bar-chart => bar chart
beta-cell => beta cell
ant-eater => anteater
super-two => super two
water-bed => waterbed
manta-ray => manta ray
sand-fish => sandfish
-morphism => morphism
tea-caddy => tea caddy
blue-chip => blue chip
super-ace => super ace
bi-phasic => biphasic
fish-tape => fish tape
semi-tone => semitone
punk-zine => punk zine
slit-gong => slit gong
nick-name => nickname
near-ring => nearring
pair-bond => pair bond
hair-pipe => hair pipe
stem-cell => stem cell
way-point => waypoint
flip-side => flipside
off-break => off break
thin-film => thin film
sub-frame => subframe
tax-break => tax break
age-grade => age grade
bit-field => bit field
turn-shoe => turnshoe
jump-gate => jumpgate
lead-time => lead time
make-over => makeover
light-box => lightbox
stop-band => stopband
toll-road => toll road
super-key => superkey
loop-back => loopback
open-book => open book
drop-bear => drop bear
sync-word => syncword
pre-print => preprint
black-out => blackout
chick-pea => chickpea
blow-back => blowback
foot-path => footpath
life-boat => lifeboat
life-time => lifetime
zoot-suit => zoot suit
flat-rate => flat rate
fire-hose => fire hose
king-post => king post
femi-nazi => feminazi
auto-harp => autoharp
over-ring => overring
post-road => post road
khoi-khoi => khoikhoi
pro-forma => pro forma
over-hook => overhook
meet-cute => meet cute
tap-dance => tap dance
super-egg => superegg
moon-cake => mooncake
world-egg => world egg
twist-tie => twist tie
bi-gender => bigender
over-lay => overlay
rose-bud => rosebud
walk-man => walkman
ska-punk => ska punk
pen-name => pen name
hot-wire => hotwire
out-take => outtake
wing-dam => wing dam
turn-out => turnout
re-print => reprint
hot-foot => hot foot
mail-art => mail art
no-dachi => nodachi
were-rat => wererat
tool-tip => tooltip
tug-boat => tugboat
pop-punk => pop punk
e-report => ereport
bob-tail => bobtail
cash-box => cashbox
xian-bei => xianbei
dead-pan => deadpan
ear-worm => earworm
dry-sump => dry sump
body-kit => body kit
aka-name => akaname
ass-hole => asshole
aqua-pod => aquapod
sea-boot => seaboot
mini-bus => minibus
sub-zero => subzero
bomb-bay => bomb bay
pony-car => pony car
paste-up => paste up
ad-creep => ad creep
pre-paid => prepaid
hold-all => holdall
arm-lock => armlock
mod-chip => modchip
stick-um => stickum
bio-mass => biomass
chip-pan => chip pan
pro-drug => prodrug
tea-gown => tea gown
drop-out => dropout
yuan-fen => yuanfen
grown-up => grownup
de-facto => de facto
leg-lock => leglock
neck-tie => necktie
pop-rock => pop rock
die-cast => diecast
null-set => null set
lit-blog => litblog
off-spin => off spin
cat's-paw => cat's paw
tri-tone => tritone
sky-glow => skyglow
re-issue => reissue
fair-use => fair use
no-ball => no ball
pin-out => pinout
fly-ash => fly ash
age-set => age set
red-out => redout
jet-lag => jet lag
jet-set => jet set
pin-yin => pinyin
bob-cad => bobcad
run-rig => run rig
ox-gall => ox gall
tax-cut => tax cut
ice-age => ice age
bon-bon => bonbon
op-code => opcode
by-line => byline
see-saw => seesaw
ray-gun => raygun
dog-cow => dogcow
mock-up => mockup
cut-man => cutman
init-ng => initng
zig-zag => zigzag
tap-out => tap out
to-day => today
wu-wei => wu wei
re-run => rerun
ad-hoc => ad hoc
n-type => n type
er-hu => erhu
e-fax => efax
ju-do => judo
ca-ca => caca
wu-ji => wuji
